<div class="newsletters">
  {% for newsletter in newsletters %}
  <div class="newsletter">
    <a href="{{ newsletter.link }}">
      <div class="imgdiv"
      style="background-image:url({{ newsletter.images.0 }});">&nbsp;
    </div>
  </a>

  <div class="text">
    <h3>
      <a href="{{ newsletter.link }}">
        {{ newsletter.title }}
      </a>
    </h3>
    {% if newsletter.date_posted %}
    <span class="date">Posted on {{newsletter.date_posted}}</span>
    {% endif %}
    <div>{{newsletter.text|safe}}</div>
  </div>
</div>
{% endfor %}

{% if rented %}
<h1 class="rented">Rented</h1>
{% for apt in rented %}
  <div class="newsletter">
    <a href="{{ apt.link }}">
      <div class="imgdiv rented"
      style="background-image:url({{ apt.images.0 }});">&nbsp;
    </div>
  </a>
<div class="text">
  <h3>
    <a href="{{ apt.link }}">
      {{ apt.title }}
    </a>
  </h3>
</div>
</div>
{% endfor %}
{% endif %}

</div>
