{% if path == 'thereport' %}
<div class="subscribe">
<div id='emailAlert' style='display:none' class='alert alert-success'>Thanks for subscribing!</div>
<form action="http://citi-habitats.us1.list-manage.com/subscribe/post" method="post"
      target="_blank" onsubmit="$('#emailAlert').show()">
  <div class="input-append">
    <input type="hidden" name="u" value="a4c9bff28500bdb1cc6e1f865"/>
    <input type="hidden" name="id" value="ae9271abdb"/>
    <input class="form-control required"
           type="email" name="MERGE0" id="MERGE0" value placeholder="Email address" name="email"/>
    <button type="submit" class="btn">Subscribe</button>
  </div>
</form>
</div>
{% endif %}

<div class="newsletters">
  {% for newsletter in newsletters %}
  <div class="newsletter">
    <a href="{{ newsletter.link }}">
      <div class="imgdiv"
      style="background-image:url({{ newsletter.images.0 }});">&nbsp;
    </div>
  </a>

  <div class="text">
    <h3>
      <a href="{{ newsletter.link }}">
        {{ newsletter.title }}
      </a>
    </h3>
    {% if newsletter.date_posted %}
    <span class="date">Posted on {{newsletter.date_posted}}</span>
    {% endif %}
    <div>{{newsletter.text|safe}}</div>
  </div>
</div>
{% endfor %}

{% if rented %}
<div class="all_closed">
{% for apt in rented %}
<div class="closed">
  <div class="ribbon"></div>
  <a href="{{ apt.link }}">
    <div class="image"
    style="background-image:url({{ apt.images.0 }});">&nbsp;
  </div>
  {{ apt.title }}
</a>
</div>
{% endfor %}
</div>
<div style="clear:both"></div>
{% endif %}

</div>
