<div class="subscribe">
{% if path == 'thereport' %}
<div id='emailAlert' style='display:none' class='alert alert-success'>Thanks for subscribing!</div>
<form action="http://danbamberger.us2.list-manage.com/subscribe/post" method="post"
      target="_blank" onsubmit="document.getElementById('emailAlert').style.display = 'block'">
  <div class="input-append">
    <input type="hidden" name="u" value="f832646624bdbf8d1d0cd3146"/>
    <input type="hidden" name="id" value="f6d1f4b407"/>
    <input class="form-control required"
           type="email" name="MERGE0" id="MERGE0" value placeholder="Email address" name="email"/>
    <button type="submit" class="btn">Subscribe</button>
  </div>
</form>
{% endif %}
</div>

<div class="newsletters">
  {% for newsletter in newsletters %}
  <div class="newsletter">
    <a href="{{ newsletter.link }}">
      <div class="imgdiv"
      style="background-image:url({{ newsletter.images.0 }});">&nbsp;
    </div>
  </a>

  <div class="text">
    <h3>
      <a href="{{ newsletter.link }}">
        {{ newsletter.title }}
      </a>
    </h3>
    {% if newsletter.date_posted %}
    <div class="date">Posted on {{newsletter.date_posted}}</div>
    {% endif %}
    <div>{{newsletter.text|safe}}</div>
  </div>
</div>
{% endfor %}

{% if closed %}
<div class="all_closed">
  <h3 class="nobg">Recently closed sales</h3>
{% for apt in closed %}
<div class="closed">
  <a href="{{ apt.link }}">
    {{ apt.title }}
  </a>
</div>
{% endfor %}
</div>
<div style="clear:both"></div>
{% endif %}

</div>
