<!doctype html>
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <style>
    .item-info {
      max-width: 500px;
      padding: 10px;
      margin: 2px;
      border: 1px solid #eee;
    }
    .buttons {
      float: right;
    }
    img {
      max-width: 50px;
    }
    .form {
      padding: 10px;
    }
    .hidden {
      display: none;
    }
    textarea {
      min-height: 200px;
    }
  </style>
  <script>
    function ItemController($scope, $http, $filter) {
      $scope.add_item = {
        title: 'Test post',
        date_posted: $filter('date')(new Date(), 'MM/dd/yy'),
        images: 'http://localhost:8080/r/images/logo2.png,http://localhost:8080/r/images/citi_logo.png',
        text: 'Submit me plz',
        page: 'listings'
      };

      $scope.page_options = ['listings', 'thereport'];
      $scope.page_filter = 'listings';
      $http({url: '/items', method:'GET'}).success(function(data){
        $scope.items = data;
        angular.forEach($scope.items, function(i) {
          i.ranking = parseFloat(i.ranking || 0);
        })
        console.log(data);
      });

      $scope.edit = function(item) {
        console.log(item);
        if (!item.id) {
          alert('Not all information present');
          return;
        }

        params = { id: item.id };
        for (var i in item) {
          if (item[i]) {
            params[i] = item[i];
          }
        }

        $http({url: '/items', method:'POST', params: params})
        .success(function(data) {
          angular.copy(data, item);
        }).error(function(data){
          alert('Error adding.');
        });
      };

      $scope.delete = function(item) {
        if (!item.id) {
          alert('No item!');
          return;
        }
        $http({url: '/items', method:'POST', params: {
          id: item.id,
          action: 'DELETE'
        }}).success(function(data) {
          item = {};
          alert('Deleted item!');
        }).error(function(data){
          alert('Error adding.');
        });

      };

      $scope.get_images = function(item) {
        if (item && typeof item.images == 'string')
          return item.images.split(',');
        return [];
      };

      $scope.change_rank = function(item, direction) {
        var items = $filter('filter')($scope.items, $scope.page_filter);
        items = $filter('orderBy')(items, '-ranking');
        var index = items.indexOf(item);
        var newIndex = index + direction;
        if (newIndex < 0 || newIndex >= items.length) return;
        var otherRanking = items[newIndex].ranking;
        items[newIndex].ranking = item.ranking;
        item.ranking = otherRanking;
        $scope.edit(item);
        $scope.edit(items[newIndex]);
        console.log(item);
      };

      $scope.add = function() {
        if (!$scope.add_item.link ||
          !$scope.add_item.date_posted ||
          !$scope.add_item.images) {
          alert('Need more stuff!');
        return;
      }
      
      $http({url: '/items', method:'POST', params: {
        link: $scope.add_item.link,
        page: $scope.add_item.page,
        date_posted: $scope.add_item.date_posted,
        images: $scope.add_item.images,
        text: $scope.add_item.text,
        title: $scope.add_item.title
      }}).success(function(data){
        $scope.items.push(data);
        $scope.add_item = {};
        alert('Added item OK!');
      }).error(function(data){
        alert('Error adding.');
      });
    }
  }
</script>
</head>
<body>
  <div ng-controller="ItemController" style="padding:20px;">
    <h3>Add a new item</h3>
    <div class="item-info">
      <button ng-click="add_item.show=!add_item.show">+</button> Add Item
      <div ng-class="{ hidden: !add_item.show, form: add_item.show }">
        <input class="form-control" type="text" ng-model="add_item.title" placeholder="Title"><br/>
        <select class="form-control" ng-model="add_item.page" ng-options="v for v in page_options"></select><br/>
        <input class="form-control" type="text" ng-model="add_item.link" placeholder="Link to article"><br/>
        <input class="form-control" type="text" ng-model="add_item.date_posted" placeholder="Date posted"><br/>
        <input class="form-control"  type="text" ng-model="add_item.images" placeholder="Images (comma separated)"><br/>
        Images: <img ng-repeat="image in get_images(add_item)" ng-src="{{ image }}"/>
        <textarea class="form-control" ng-model="add_item.text" placeholder="Snippet"></textarea>

        <button ng-click="add()">Add item</button>
      </div>
    </div>
    <hr>

    <h3>Edit items</h3>
    Filter: <select class="form-control"  ng-model="page_filter" ng-options="v for v in page_options"></select><br/>

    <div class="item-info" ng-repeat="edit_item in items|orderBy:'-ranking'|filter:page_filter">
      <button ng-click="edit_item.show=!edit_item.show">+</button>
        {{ edit_item.title }} -- {{ edit_item.date_posted }} <span class="buttons"><button ng-click="change_rank(edit_item, -1)">&uarr;</button> <button ng-click="change_rank(edit_item, 1)">&darr;</button></span>
      <div ng-class="{ hidden: !edit_item.show, form: edit_item.show }">
        <input class="form-control" type="text" ng-model="edit_item.title" placeholder="Title"><br/>
        <select class="form-control" ng-model="edit_item.page" ng-options="v for v in page_options"></select><br/>
        <input class="form-control" type="text" ng-model="edit_item.link" placeholder="Link to article"><br/>
        <input class="form-control" type="text" ng-model="edit_item.date_posted" placeholder="Date posted"><br/>
        <input class="form-control"  type="text" ng-model="edit_item.images" placeholder="Images (comma separated)"><br/>
        <textarea class="form-control" ng-model="edit_item.text" placeholder="Snippet"></textarea>
        Images: <img ng-repeat="image in get_images(edit_item)" ng-src="{{ image }}"/><br/>
        <button ng-click="edit(edit_item)">Edit</button>
        <button ng-click="delete(edit_item)">Delete</button>
      </div>
    </div>
  </div>
</body>
</html>
